<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	
	<!-- NAV -->
	
	<!-- NAV --> 
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#" th:href="@{/home}">TestGo</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#" th:href="@{/home}">Home</a>
					</li>
						
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#" th:href="@{/listarVF}">Listar V-F</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#" th:href="@{/listarSC}">Listar SINGLE-CHOICE</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#" th:href="@{/listar}">Listar MULTI-CHOICE</a>
						</li>
						
						<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Contacto</a>
					</li>
					
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	
	
	
	
	<!-- OPCIONES BODY --> 
	
	<h1>Tipo de Preguntas<span class="badge bg-secondary"></span></h1>
	
	<ul>
		<li>
			<a th:href="@{/preguntavf}">Preguntas Verdadero-Falso</a>
		</li>
		
		<li>
			<a th:href="@{/preguntasc}">Preguntas Single Choice</a>
		</li>
	</ul>
	
	<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>